<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem Atualizada</title>
    <script>
        function reloadImage() {
            const image = document.getElementById('dynamicImage');
            const timestamp = new Date().getTime(); // Evita cache
            image.src = `{{ image_url }}?${timestamp}`;
        }
        setInterval(reloadImage, 1000);
    </script>
</head>
<body style="background-color: black;">
    <h1 style="color: white;">Imagem Atualizada</h1>
    <img id="dynamicImage" src="{{ image_url }}" alt="Imagem do Board" style="max-width: 20%; height: auto;">
</body>
</html>
